@import url(main.css);

/* Projects section */
.projects, .projects {
    color:#fff;
    background: #170420;
}

.projects .title::before,
.projects .title::before {
    background: #fff;
}

.projects .serv-content .card {
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.projects .serv-content .card:hover {
    background: #EA1646;
}

.projects .serv-content .card .box {
    transition: all 0.3s ease;
}

.projects .serv-content .card:hover .box {
    transform: scale(1.05);
}

.projects .serv-content .card i {
    font-size: 50px;
    color: #EA1646;
    transition: color 0.3s ease;
}

.projects .serv-content .card:hover i {
    color: #fff;
}

.card:hover span {
    color: #fff;
}

.projects .serv-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.projects .carousel .card {
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}

.projects .carousel .card:hover {
    background: #EA1646;
}

.projects .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.projects .carousel .card:hover .box {
    transform: scale(1.05);
}

.projects .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.projects .carousel .card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #EA1646;
    transition: all 0.3s ease;
}

.projects .carousel .card:hover img {
    border-color: #fff;
}

.card:hover .span-a {
    color: #170420;
}

.card:hover .span-a:hover {
    color: #555;
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #EA1646!important;
    transition: all 0.3s ease;
}

.owl-dot.active {
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover {
    background: #EA1646!important;
}